@using Rythmm.Models;
@model Rythmm.ViewModels.SongViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Songs</h2>
<div class="form-group">
    @*creating a link which will allow the user to make insert there own song onto the database.*@
    @Html.ActionLink("New", "New", new { @class = "btn btn-primary"})
</div>

@*Checking if there are any songs currently in the database.*@
@if (Model.Songs.Count() == 0)
{
    <p>There are currently no songs :(</p>
}
@*else there are currently songs, so we're going to print them to the screen.*@
else
{
    <table>

        <tr class="tableTitles">

            <th>Song</th>
            <th>Genre</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Release Date</th>
            <th>Description</th>

        </tr>
        

    @*Looping through each available song in the IEnumerable.*@
    @foreach (Song song in Model.Songs)
    {
        <tr class="tableBody">

            <th>@song.Name</th>
            <th>@Model.Genres.ElementAt(song.GenreId - 1).Name</th>
            <th>@Model.Albums.ElementAt(song.AlbumId.Value - 1).Name</th>
            <th>@Model.Artists.ElementAt(song.ArtistId - 1).Name</th> 
            <th>@song.Released.ToShortDateString()</th>
            <th>@song.Description</th>
        </tr>
        
        
    }

    </table>

}