@model Rythmm.ViewModels.SongFormViewModel
@{
    ViewBag.Title = "SongForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SongForm</h2>

@*Beginning a form.*@
@using (Html.BeginForm("Save", "Song"))
{
    //all the errors that we will get from the form are here.
    @Html.ValidationSummary()

    @*text box for the name of the song*@
    <div vlass ="form-group">
        @Html.LabelFor(s => s.Song.Name)
        @Html.TextBoxFor(s => s.Song.Name, new { @class = "form-control"})
        @Html.ValidationMessageFor(s => s.Song.Name)
    </div>

    @*text box for the name of the release date of the song*@
    <div vlass="form-group">
        @Html.LabelFor(s => s.Song.Released)
        @Html.TextBoxFor(s => s.Song.Released, "{0: d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Song.Released)
    </div>

    @*Drop down menu for the genre of the song.*@
    <div class="form-group">
        @Html.LabelFor(s => s.Song.GenreId)
        @*Drop down list that sets the GenreId to the id of the genre that was selected in the drop down. *@
        @Html.DropDownListFor(s => s.Song.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Please select genre.", new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Song.GenreId)
    </div>

    @*Drop down menu for the genre of the song.*@
    <div class="form-group">
        @Html.LabelFor(s => s.Song.ArtistId)
        @*Drop down list that sets the GenreId to the id of the genre that was selected in the drop down. *@
        @Html.DropDownListFor(s => s.Song.ArtistId, new SelectList(Model.Artists, "Id", "Name"), "Please select artist.", new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Song.ArtistId)
    </div>

    //Links to the new action in the artist form when the link is clicked
    @Html.ActionLink("Artist not here yet? Click here to add them.", "New", "Artist")



}